<% @theme_groups.each do |theme_group| %>
    <span class="tg_info" style="display: none;" data-tg_id="<%= theme_group.id %>"><%= theme_group.to_json %></span>
    <span class="tg_themes_info" style="display: none;" data-tg_id="<%= theme_group.id %>"><%= theme_group.themes.all.to_json %></span>
    <div class="container">
        <div class="block-header">
            <h2><%= theme_group.title %> <small><%= theme_group.id %> <%= theme_group.description %></small></h2>

            <ul class="actions">
                <li>
                    <a class="toggleTgModal btn btn-link" href="" data-toggle="modal" data-target="#tgModal" data-tg_id="<%= theme_group.id %>">더 보기</a>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="themes">
                    <%= render partial: '/themes/partials/theme_slot', collection: theme_group.themes.first(4), as: :theme, locals: {grid_size: 'col-md-6'} %>
                </div>
            </div>
        </div>
    </div>
<% end %>