<p id="notice"><%= notice %></p>

<h1>Theme Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @theme_groups.each do |theme_group| %>
      <tr>
        <td><%= link_to 'Show', theme_group %></td>
        <td><%= link_to 'Edit', edit_theme_group_path(theme_group) %></td>
        <td><%= link_to 'Destroy', theme_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme Group', new_theme_group_path %>
