
<% @sections.each_with_index do |section, i| %>
    <% unless section[:title].nil? %>
        <div class="container w-100 p-b-15 <%= 'sep bg-img-attr' unless i.zero? %>" style="<%= "background: url('#{section[:tracks].first.posts.last.thumbnail_img}')" unless i.zero? %>">
            <div class="block-header p-lr-20">
                <h2><%= section[:title] %></h2>
            </div>
        </div>
    <% end %>

    <% section[:tracks].each do |track| %>
        <% posts = track.posts.last(20).reverse %>
        <div class="container theme-container w-100 p-b-15">
            <% if section[:label] %>
                <div class="block-header p-lr-20">
                    <h2><%= track.title %> (<%= posts.count %>)</h2>
                </div>
            <% end %>

            <div class="card bgm-transparent z-depth-0 p-lr-20">
                <div class="card-body">
                    <div class="showContents slick-items posts-wrapper">
                        <%= render partial: '/posts/partials/post_card_template', collection: posts, as: :post %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>

