<%= simple_form_for(@view_count) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :post %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
