<p id="notice"><%= notice %></p>

<h1>View Counts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @view_counts.each do |view_count| %>
      <tr>
        <td><%= view_count.user %></td>
        <td><%= view_count.post %></td>
        <td><%= link_to 'Show', view_count %></td>
        <td><%= link_to 'Edit', edit_view_count_path(view_count) %></td>
        <td><%= link_to 'Destroy', view_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New View Count', new_view_count_path %>
