
<%
    # 1. naver tv cast
    # 2. youtube
    # 3. facebook

    video_url = 'http://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=76E41BC7DFA2BC520751346FF3FB11FE605A&outKey=V122c28c1369a04541e5d1092798c96fc72b4b6a0cc41b7b6baff1092798c96fc72b4&controlBarMovable=true&jsCallable=true&isAutoPlay=true&skinName=tvcast_white'
    # video_url = 'http://www.youtube.com/embed/aaZXDm3RXuo'
    # video_url = 'https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Frealmudo%2Fvideos%2F698589283660718%2F&show_text=0&width=560'
%>
<div class="container post-container w-100 p-b-15">
    <div class="row p-lr-50">


        <!-- Post Content Ground -->
        <div class="col-md-8 p-lr-20 post-content-ground">

            <!-- Viewer -->
            <div id="post-content-wrapper" class="card w-100 thumbnail-post <%= 'like-active' if active_like?(@post) %> <%= 'bookmark-active' if active_bookmark?(@post) %>" data-id="<%= @post.id %>" data-user_id="<%= user_signed_in? ? current_user.id : 0 %>">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="<%= video_url %>"
                            class="embed-responsive-item"
                            style="border:none;overflow:hidden"
                            scrolling="no"
                            allowTransparency="true"
                            allowFullScreen="true"
                            frameborder="0">
                    </iframe>
                </div>

                <div id="post-info-body" class="card-body card-padding w-100">
                    <h3 class="m-t-0"><%= @post.title %></h3>
                    <p class="info-line info-line-1 m-b-0">
                        <span class="zmdi zmdi-caret-right-circle"> 999K </span>
                        <span class="zmdi zmdi-favorite-outline"> 999K </span>
                        <span class="zmdi zmdi-star-outline"> 999K </span>
                        | 3분 전
                    </p>
                    <div class="actionBox">
                        <ul class="row_ul">
                            <li><a class="like-btn" href=""><span class="zmdi zmdi-favorite<%= active_like?(@post) ? ' c-red' : '-outline' %>"></span></a></li>
                            <li><a class="bookmark-btn" href=""><span class="zmdi zmdi-star<%= active_bookmark?(@post) ? ' c-amber' : '-outline' %>"></span></a></li>
                            <li><a href=""><span class="zmdi zmdi-share"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div id="post-user-body" class="card-body card-padding w-100 p-t-5 p-b-10">
                    <div class="m-b-0 w-100 p-t-10">
                        <a id="post-user-profile" href="<%= user_path(@post.user) %>">
                            <div class="user-profile_img" style="background-image: url('<%= @post.user.profile_img %>')"></div>
                            <ul>
                                <li>@<%= @post.user.name %></li>
                                <li>20명 구독중</li>
                            </ul>
                        </a>
                        <div id="subscribe-btn">
                            <a href="" class="btn btn-default btn-link">구독하기</a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Comment -->
            <%= render partial: '/layouts/partials/comment_disqus', locals: {classes: 'card w-100 p-lr-30 p-t-20 p-b-20', id: @post.id} %>
        </div>




        <div class="col-md-4">

            <!-- Add Zone -->
            <div id="special-box-wrapper">
                <div id="special-box" class="href" data-href="https://onoffmix.com/event/91656" data-window_open="true" style="background-image: url('https://onoffmix.com/images/event/91656')"></div>
            </div>

            <hr>

            <!-- Related Posts -->
            <div class="posts-wrapper wide">
                <%= render partial: '/posts/partials/post_card_template', collection: @post.theme.posts.reverse - [@post], as: :post %>
            </div>
        </div>
    </div>
</div>
